<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
 
  </head>
  <body>
    <%-include("partials/header.ejs")%>

    <h1 style="text-align: center">Adding Air Ticket</h1>
    <div class="container-sm col-6">
      <form class="row g-3" method="post" action="/addticket">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Customer Name</label>
          <input type="text" class="form-control border border-black" id="inputEmail4" name="air_ticket_customer_name">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Flight Number</label>
          <input type="text" class="form-control border border-black" id="inputEmail4" name="flight_number">
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Flight Date (DD/MM/YYYY)</label>
          <input type="text" class="form-control border border-black" id="inputAddress" name="flight_date">
        </div>
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label">Flight Time (HH:MM)</label>
          <input type="text" class="form-control border border-black" id="inputAddress2" name="flight_time">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Flight PNR</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="flight_pnr">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Flight From/To (eg: DEL/AYJ)</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="flight_travel_location">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Quantity</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="flight_quantity">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Rate per Qty</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="flight_rate">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">SAC Code</label>
          <input type="text" class="form-control border border-black" id="inputCity" value="00440032" name="flight_sac_code">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Biller Id</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="air_ticket_biller_id">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">ADD</button>
        </div>
      </form>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Biller Id</th>
            <th scope="col">Biller Name</th>
          </tr>
        </thead>
        <tbody>
            <% customer.forEach((customer)=>{%>
                <tr>
                    <th scope="row"><%=customer.customer_id%></th>
                    <td><%=customer.customer_name%></td>
                </tr>
            <%});%>
        </tbody>
      </table>
      <br>
      <% if (locals.number){ %>
      <h1>Air Ticket Added Successfully</h1>
      <h3>The previous records inserted are</h3>
      <ul>
        <li><h5>Customer Name: <%=locals.name%></h5></li>
        <li><h5>Flight Number: <%=locals.number%></h5></li>
        <li><h5>Flight Date: <%=locals.date%></h5></li>
        <li><h5>Flight Time: <%=locals.time%></h5></li>
        <li><h5>Flight PNR: <%=locals.pnr%></h5></li>
        <li><h5>Flight From/To Location: <%=locals.location%></h5></li>
        <li><h5>Flight Quantity: <%=locals.quantity%></h5></li>
        <li><h5>Flight Rate: <%=locals.rate%></h5></li>
        <li><h5>Flight SAC Code: <%=locals.sac_code%></h5></li>
      </ul>
      
      <% }%>
    </div>

  </body>
  
</html>
