<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill List</title>

</head>
<body>
    <%-include("partials/header.ejs")%>
    <div class="container">
        <%if (locals.why_not_bill){%>
            <h3>Bill Cannot be viewed since information is less</h3>
        <%}%>
            <br>
            <h1 style="text-align: center;">Bill List</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Bill No.</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Bill Date</th>
                        <th scope="col">Bill Service Charge</th>
                        <th scope="col">Bill PDF</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% bill.forEach(function(bill) { %>
                        <%customers.forEach(function(customer){%>
                        <tr>
                            <%if(bill.bill_customer_id==customer.customer_id){%>
                                <td><%=bill.bill_id%></td>
                                <td><%=customer.customer_name%></td>
                                <td><%=bill.bill_date%></td>
                                <td>₹<%=bill.bill_service_charge%></td>
                                <%if(bill.bill_booking_type==2){%>
                                    <form action="/selected_hotel_bill" method="POST">
                                        <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                        <td><button type="submit" id="original_button">Click Here</button></td>
                                    </form>
                                <%}else{%>
                                    <form action="/selected_air_bill" method="POST">
                                        <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                        <td><button type="submit" id="original_button">Click Here</button></td>
                                    </form>
                                <%};%>
                            <%};%>
                        </tr>
                        <%});%>
                    <%});%>
                </tbody>
            </table>
    </div>
    
</body>

</html>