<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <div style="display: flex;justify-content: center; padding: 10px 10px;">
      <button id="download" style="font-weight: 600; font-size: larger;background-color: aqua;">Download PDF</button>
      <a href="/return_final_selected_bill_list"><button style="font-weight: 600; font-size: larger;background-color: aqua; margin-left: 10px;">Return</button></a>
    </div>
    
    <page size="A4" id="content">
      <div class="sec-1 font_body" style="margin-bottom: 5px;">
        <h5>PAN : AACFD8928N</h5>
        <div class="sec-1-1">
          <h5 class="sec-1-1-h3-top">Tax Invoice / Bill of Supply</h5>
          <h5 class="sec-1-1-h3-bottom">(U/s 31 Read with Rule-)</h5>
        </div>
        <div class="sec-1-2">
          <h5 class="sec-1-2-h3-top">Original For Receipient</h5>
          <h5 class="sec-1-2-h3-bottom">Duplicate for Record</h5>
        </div>
      </div>

      <hr />
      
      <div class="sec-2 font_body" style="margin-bottom: 5px;">
        <h2 class="font_header" style="margin-top: 5px; margin-bottom: 3px;">DREAM VISION HOLIDAYS</h2>
        <h5>
          GF-11, II-A/19, Nehru Nagar, Near Jain Mandir Flyover, Amar Ujala
          Building, Ghaziabad-201001 (U.P)
        </h5>
        <h5>
          Tel : 0120-2795443 / 4152795 &nbsp;&nbsp;&nbsp; Mob : 9350707095 /
          9873207095 &nbsp;&nbsp;&nbsp; Fax : 2795443
        </h5>
        <h5>
          E-mail : info@dreamvisionindia.com &nbsp;&nbsp;&nbsp; Website :
          www.dreamvisionindia.com
        </h5>
        <h5>GSTIN : 09AACFD8928N1ZT &nbsp;&nbsp;&nbsp; TAN : MRTD09380A</h5>
      </div>

      <div class="sec-3 font_sec_3" style="margin-top: 5px;"> 
        <div class="sec-3-grid-item" style="text-align: center">
          Receipient Details
        </div>
        <div class="sec-3-grid-item">Invoice No:</div>
        <div class="sec-3-grid-item" style="font-weight: bold"><%=billno%></div>
        <div class="sec-3-grid-item">Name: <%=customer.customer_name%></div>
        <div class="sec-3-grid-item">Tax Invoice Date:</div>
        <div class="sec-3-grid-item"><%=currentbill.bill_date.toLocaleDateString()%></div>
        <div class="sec-3-grid-item" style="grid-row: 3/6">Address: <%=customer.customer_address%></div>
        <div class="sec-3-grid-item" style="grid-row: 3/5; grid-column: 2/4">
          Address of Delivery: <%=customer.customer_address%>
        </div>
        <div class="sec-3-grid-item">State : <%=customer.customer_state%></div>
        <div class="sec-3-grid-item">Code : <%=customer.customer_state_code%></div>
        <div class="sec-3-grid-item">
          State : <%=customer.customer_state%>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Code : <%=customer.customer_state_code%>
        </div>
        <div class="sec-3-grid-item" style="grid-column: 2/4; ">GSTIN : <%=customer.customer_gstin%></div>
        <div class="sec-3-grid-item">GSTIN : <%=customer.customer_gstin%></div>
        <div class="sec-3-grid-item">Tax is payable on Reverse Charge</div>
        <div class="sec-3-grid-item">No</div>
      </div>

      <div class="sec-4 font_sec_4">
        <table class="table">
          <thead class="table_head_color_border">
              <tr>
                  <th scope="col" class="text_align_center table_border_top table_border_left table_border_bottom">SNo.</th>
                  <th scope="col" class="desc_width table_border_top table_border_left table_border_bottom">Description Of Services</th>
                  <th scope="col" class="text_align_center table_border_top table_border_left table_border_bottom">SAC Code</th>
                  <th scope="col" class="text_align_center table_border_top table_border_left table_border_bottom">Qty/Unit</th>
                  <th scope="col" class="text_align_center table_border_top table_border_left table_border_bottom">Rate</th>
                  <th scope="col" class="text_align_center table_border_top table_border_right table_border_left table_border_bottom">Total Value</th>
              </tr>
          </thead>
          <tbody class="table_body_bgcolor">
            <% let total=0;%>
            <% air_ticket.forEach(function(ticket) { %>
              <tr>
                <td class="text_align_center table_border_left"><%=locals.sno%></td>
                <td class=" table_border_left"><%=ticket.air_ticket_customer_name%>&nbsp; PNR:<%=ticket.flight_pnr%></td>
                <td class="text_align_center table_border_left"><%=ticket.flight_sac_code%></td>
                <td class="text_align_center table_border_left"><%=ticket.flight_quantity%></td>
                <td class="text_align_center table_border_left">₹<%=ticket.flight_rate%></td>
                <td class="text_align_center table_border_left table_border_right">₹<%= ticket.flight_quantity * ticket.flight_rate  %></td>
              </tr>
              <tr>
                <td class="text_align_center table_border_left table_border_bottom"></td>
                <td class="table_border_left table_border_bottom"><%=ticket.flight_travel_location%> &nbsp; <%=ticket.flight_number%> &nbsp;<%=ticket.flight_date%>&nbsp; <%=ticket.flight_time%> </td>
                <td class="text_align_center table_border_left table_border_bottom"></td>
                <td class="text_align_center table_border_left table_border_bottom"></td> 
                <td class="text_align_center table_border_left table_border_bottom"></td>
                <td class="text_align_center table_border_left table_border_right table_border_bottom"></td>
                <%total=total+parseInt((ticket.flight_quantity) * (ticket.flight_rate)) %>
              </tr>

              <% sno++; %>
            <%});%>
              <tr>
                <td class="text_align_center table_border_left table_border_bottom"><%=locals.sno%></td>
                <td class="table_border_bottom table_border_left">Service Charge</td>
                <td class="text_align_center table_border_bottom table_border_left"></td>
                <td class="text_align_center table_border_bottom table_border_left"><%=final_service_charge_quantity%></td>
                <td class="text_align_center table_border_bottom table_border_left">₹<%=final_service_charge_rate%></td>
                <td class="text_align_center table_border_bottom table_border_left table_border_right">₹<%=final_service_charge%></td>
                <%total=parseInt(total)+parseInt(final_service_charge)%>
              </tr>
          </tbody>
        </table>
      </div>

      <div class="sec-5 font_sec_5">
        <div class="sec-5-grid-item">Bank Details :</div>
        <%if(customer.customer_state_code==9){%>
          <% let prev_total=final_service_charge*0.09; %>
          <div class="sec-5-grid-item">SGST @ 9%</div>
          <div class="sec-5-grid-item">₹<%=prev_total.toFixed(2)%></div>
          <%total=parseInt(total)+parseInt(prev_total);%>
          <div class="sec-5-grid-item">Dream Vision Holidays</div>
          <div class="sec-5-grid-item">CGST @ 9%</div>
          <div class="sec-5-grid-item">₹<%=prev_total.toFixed(2)%></div>
          <%total=parseInt(total)+parseInt(prev_total);%>
          <div class="sec-5-grid-item">
              <div style="display: flex; flex-direction: column;">
                  <h4 style="margin-bottom: 0; margin-top: 2px;">ICICI Bank Ltd. R.D.C Raj Nagar Ghaziabad (U.P)</h4>
                  <h4 style="margin-top: 0; margin-bottom: 0;">A/C No. 628605014121 IFSC Code: ICIC0006286</h4>
              </div>
          </div>
          <div class="sec-5-grid-item">IGST @ 18%</div>
          <div class="sec-5-grid-item">-</div>
        <%}else{%>
          <% let prev_total=final_service_charge*0.18; %>
            
            <div class="sec-5-grid-item">SGST @ 9%</div>
            <div class="sec-5-grid-item">-</div>
            <div class="sec-5-grid-item">Dream Vision Holidays</div>
            <div class="sec-5-grid-item">CGST @ 9%</div>
            <div class="sec-5-grid-item">-</div>
            <div class="sec-5-grid-item">
                <div style="display: flex; flex-direction: column;">
                    <h4 style="margin-bottom: 0; margin-top: 2px;">ICICI Bank Ltd. R.D.C Raj Nagar Ghaziabad (U.P)</h4>
                    <h4 style="margin-top: 0; margin-bottom: 0;">A/C No. 628605014121 IFSC Code: ICIC0006286</h4>
                </div>
            </div>
            <div class="sec-5-grid-item">IGST @ 18%</div>
            <div class="sec-5-grid-item">₹<%=prev_total.toFixed(2)%></div>
            <%total=parseInt(total)+parseInt(prev_total);%>


        <%}%>
        <div class="sec-5-grid-item" style="grid-row: 4/6.5;" id="amount">Amount in Words : </div>
        <div class="sec-5-grid-item">Total : </div>
        <div class="sec-5-grid-item" id="total_value">₹<%=(total).toFixed(0)%></div>
        <div class="sec-5-grid-item" style="grid-column: 2/4; grid-row: 5/7; display: flex; flex-direction: column; align-items: center; justify-content: center;">
          <h3>For Dream Vision Holidays</h3>
          <h4>Auth. Signatory</h4>
        </div>
        <div class="sec-5-grid-item">
            <div style="display: flex; flex-direction: column;">
                <h4 style="margin-bottom: 0; margin-top: 2px;">E & O.E.</h4>
                <ul style="margin-top: 0; margin-bottom: 0;">
                    <li>Subject to Ghaziabad Jurisdiction</li>
                    <li>Interest @ 21% p.a. will be charged if the bill is not paid within 7 days of presentation</li>
                </ul>
            </div>
        </div>
        <div class="sec-5-grid-item" style="grid-column: 1/4; text-align: center; font-weight: 500;  background-color: rgb(46, 46, 242); color: white;"><b>#Holiday Packages #Hotel bookings #International Tours #Star Cruises #Air Tickets #Railway Tickets</b></div>
      </div>
    </page>
    
    <script>
      document
        .getElementById("download")
        .addEventListener("click", function () {
          const { jsPDF } = window.jspdf;
          const doc = new jsPDF("p", "mm", "a4"); // Use 'p' for portrait orientation

          html2canvas(document.getElementById("content"), {
            useCORS: true,
            scale: 2, // Improve the resolution
          }).then((canvas) => {
            const imgData = canvas.toDataURL("image/png");
            const imgWidth = 210; // A4 width in mm
            const imgHeight = (canvas.height * imgWidth) / canvas.width;
            doc.addImage(imgData, "PNG", 0, 0, imgWidth, imgHeight);
            
            doc.save("<%=customer.customer_name%> Bill no:<%=billno%>.pdf");
          });
        });

        let total=document.getElementById("total_value").innerText;
        let array1=["Zero", 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'];
        let amount_in_words="";
        for (let i=1;i<total.length;i++){
          if(i==total.length-1){
            amount_in_words+=(array1[parseInt(total[i])]+" Rupees only");
            break;
          }
          else{
            amount_in_words+=(array1[parseInt(total[i])]+"/");
            console.log(amount_in_words);
          }
        }
        document.getElementById("amount").innerText="Amount In Words: "+amount_in_words;
    </script>
  </body>
</html>
