<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill List</title>

</head>
<body>
    <%-include("partials/header.ejs")%>
    <div class="container">
      <%if(locals.bill_status==1){%>
        <h3>Bill List is declared</h3>
      <%}else if(locals.bill_status==0){%>
          <h3>Bill cannot be shown</h3>
      <%}else{%>
        <h3>Bill List is empty</h3>
      <%}%>
        <form class="row g-3" method="post" action="/final_selected_bill_list">
            <div class="col-md-2">
                <label for="inputEmail4" class="form-label">Customer ID</label>
                <input type="text" class="form-control border border-success" id="inputEmail4" name="selected_customer_id">
              </div>
              <div class="col-md-2">
                <label for="inputEmail4" class="form-label">Date From</label>
                <input type="date" class="form-control border border-success" id="inputEmail4" name="date_from">
              </div>
              <div class="col-md-2">
                <label for="inputEmail4" class="form-label">Date To</label>
                <input type="date" class="form-control border border-success" id="inputEmail4" name="date_to">
              </div>
              <table class="table table-sm table-dark table-bordered table-hover border border-primary">
                <thead class="w-25">
                  <tr>
                    <th scope="col">Customer Id</th>
                    <th scope="col">Customer Name</th>
                  </tr>
                </thead>
                <tbody class="w-25">
                  <% customers.forEach((customer)=>{%>
                    <tr style="width: 10px;">
                      <th scope="row"><%=customer.customer_id%></th>
                      <td class="pe-0"><%=customer.customer_name.trim()%></td>
                    </tr>
                    <%});%>
                  </tbody>
                </table>

              <div class="col-12">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
              </div>
            </form>
            <br>
            <%if(locals.bill){%>
            <h1 style="text-align: center;">Bill List</h1>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Bill No.</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Bill Date</th>
                        <th scope="col">Bill Service Charge</th>
                        <th scope="col">Bill Total</th>
                        <th scope="col">Bill PDF</th>
                    </tr>
                </thead>
                <tbody>
                  <%let total_bills=0;%>
                  <%let bills_total_cost=0;%>

                    <% bill.forEach(function(bill) { %>
                        <%customers.forEach(function(customer){%>
                        <tr>
                            <%if(bill.bill_customer_id==customer.customer_id){%>
                                <td><%=bill.bill_id%></td>
                                <td><%=customer.customer_name%></td>
                                <td><%=bill.bill_date.toLocaleDateString()%></td>
                                <td>₹<%=bill.bill_service_charge%></td>
                                <td>₹<%=bill.bill_total_cost%></td>
                                <%total_bills++;%>
                                <%bills_total_cost+=bill.bill_total_cost;%>
                                <%if(bill.bill_booking_type==2){%>
                                    <form action="/selected_hotel_bill" method="POST">
                                        <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                        <td><button type="submit" id="original_button">Click Here</button></td>
                                    </form>
                                <%}else if(bill.bill_booking_type==1){%>

                                    <form action="/selected_air_bill" method="POST">
                                        <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                        <td><button type="submit" id="original_button">Click Here</button></td>
                                    </form>
                                <%}else{%>
                                    <form action="/selected_package" method="POST">
                                      <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                      <td><button type="submit" id="original_button">Click Here</button></td>
                                    </form>
                                <%}%>
                            <%};%>
                        </tr>
                        <%});%>
                    <%});%>
                    <tr>
                      <td><b>Total No. of Bills</b></td>
                      <td><b><%= total_bills %></b></td>
                      <td></td>
                      <td><b>Total Cost</b></td>
                      <td><b><%=bills_total_cost%></b></td>
                    </tr>
                </tbody>
            </table>
            <%}%>
    </div>
    
</body>

</html>