<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrePreBill</title>
 

</head>
<body>
  <%-include("partials/header.ejs")%>
  <div class="container">      
      <br>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Address</th>
            <th scope="col">Customer GSTIN</th>
            <th scope="col">Customer State</th>
          </tr>
        </thead>
        <tbody>
          <% let total_customer=0; %>
          <% customer.forEach((customer)=>{%>
            <tr>
              <th scope="row"><%=customer.customer_id%></th>
              <td><%=customer.customer_name%></td>
              <td><%=customer.customer_address%></td>
              <td><%=customer.customer_gstin%></td>
              <td><%=customer.customer_state%></td>
            </tr>
            <% total_customer+=1; %>
          <%});%>
          <th scope="row"></th>
          <td><h5><b>Total No. of Customers</b></h5></td>
          <td><h5><b><%=total_customer%></b></h5></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>

      </table>
      <br>
      <br>
    </div>
</body>

</html>