<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Air Ticket</title>
 

</head>
<body>
  <%-include("partials/header.ejs")%>
  <div class="container">
    <%if(locals.delete_air==1){%>
        <h3>Air Ticket Cannot be deleted</h3>
    <%}else if(locals.delete_air==0){%>
        <h3></h3>
    <%}else{%>
        <h3>Air Ticket Deleted</h3>
    <%}%>

    
    <form class="row g-3" method="post" action="/delete_selected_air_ticket">

      
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">Air Ticket ID</label>
          <input type="number" class="form-control border border-success" id="inputEmail4" name="air_ticket_id">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">DELETE</button>
        </div>
      </form>
      
      <br>
      <br>
      <h3>Air Tickets</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Air Ticket Id</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Flight Number</th>
                        <th scope="col">Flight Date</th>
                        <th scope="col">Flight Time</th>
                        <th scope="col">Flight PNR</th>
                        <th scope="col">Flight Travel Location</th>
                        <th scope="col">Flight Quantity</th>
                        <th scope="col">Flight Rate</th>
                        <th scope="col">Flight SAC Code</th>
                    </tr>
                </thead>
                <tbody>
                    <% air_ticket.forEach(function(ticket) { %>
                        <tr>
                            
                            <td><%=ticket.air_ticket_id%></td>
                            <td><%=ticket.air_ticket_customer_name%></td>
                            <td><%=ticket.flight_number%></td>
                            <td><%=ticket.flight_date%></td>
                            <td><%=ticket.flight_time%></td>
                            <td><%=ticket.flight_pnr%></td>
                            <td><%=ticket.flight_travel_location%></td>
                            <td><%=ticket.flight_quantity%></td>
                            <td><%=ticket.flight_rate%></td>
                            <td><%=ticket.flight_sac_code%></td>
                        </tr>
                    <%});%>
                </tbody>
            </table>
        <br>
        <br>
      </div>
</body>

</html>