<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Hotel Booking</title>
 

</head>
<body>
  <%-include("partials/header.ejs")%>
  <div class="container">
    <%if(locals.delete_hotel==1){%>
        <h3>Hotel Booking Cannot be deleted</h3>
    <%}else if(locals.delete_hotel==0){%>
        <h3></h3>
    <%}else{%>
        <h3>Hotel Booking Deleted</h3>
    <%}%>

    <h3>Delete Hotel Booking</h3>
    <form class="row g-3" method="post" action="/delete_selected_hotel_booking">

      
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">Hotel Booking ID</label>
          <input type="number" class="form-control border border-success" id="inputEmail4" name="hotel_booking_id">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">DELETE</button>
        </div>
      </form>
      
      <br>
      <br>
      <h3>Hotel Bookings List</h3>
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">Hotel Booking Id</th>
                  <th scope="col">Customer Name</th>
                  <th scope="col">Hotel Name</th>
                  <th scope="col">Hotel Location</th>
                  <th scope="col">Hotel Nights</th>
                  <th scope="col">Hotel Check In Date</th>
                  <th scope="col">Hotel Check Out Date</th>
                  <th scope="col">Hotel Quantity</th>
                  <th scope="col">Hotel Rate</th>
                  <th scope="col">Hotel SAC Code</th>
                  <th scope="col">Biller Name</th>
                  <th scope="col">Total Cost</th>
              </tr>
          </thead>
          <tbody>
              <%let total_hotel_bookings=0;%>
              <%let total_cost=0;%>
              
              <% hotel_booking.forEach(function(booking) { %>
                  <%customers.forEach(function(customer){%>
                      <%if(customer.customer_id==booking.hotel_booking_biller_id){%>
                          <tr>                                   
                              <td><%=booking.hotel_booking_id%></td>
                              <td><%=booking.hotel_booking_customer_name%></td>
                              <td><%=booking.hotel_name%></td>
                              <td><%=booking.hotel_location%></td>
                              <td><%=booking.hotel_nights%></td>
                              <td><%=booking.hotel_check_in_date%></td>
                              <td><%=booking.hotel_check_out_date%></td>
                              <td><%=booking.hotel_quantity%></td>
                              <td><%=booking.hotel_rate%></td>
                              <td><%=booking.hotel_sac_code%></td>
                              <td><%=customer.customer_name%></td>
                              <td>₹<%=booking.hotel_quantity*booking.hotel_rate%></td>
                          </tr>
                          <% total_hotel_bookings+=1; %>
                          <% total_cost+=booking.hotel_quantity*booking.hotel_rate; %>
                      <% }; %>
                  <% }); %>
              <%});%>
          </tbody>
      </table>
            <br>
        <br>
        <br>
      </div>
</body>

</html>