<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Bill</title>
 

</head>
<body>
  <%-include("partials/header.ejs")%>
  <div class="container">
    
    <form class="row g-3" method="post" action="/edit_selected_bill">

      
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">Bill Id</label>
          <input type="number" class="form-control border border-success" id="inputEmail4" name="bill_id">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">EDIT</button>
        </div>
      </form>
      
      <br>
      <br>
      <h3>Bills</h3>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">Bill No.</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Bill Date</th>
                <th scope="col">Bill Service Charge</th>
                <th scope="col">Bill PDF</th>
            </tr>
        </thead>
        <tbody>
            
            <% bill.forEach(function(bill) { %>
                <%customers.forEach(function(customer){%>
                <tr>
                    <%if(bill.bill_customer_id==customer.customer_id){%>
                        <td><%=bill.bill_id%></td>
                        <td><%=customer.customer_name%></td>
                        <td><%=bill.bill_date.toLocaleDateString()%></td>
                        <td>₹<%=bill.bill_service_charge%></td>
                        <%if(bill.bill_booking_type==2){%>
                            <form action="/selected_hotel_bill" method="POST">
                                <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                <td><button type="submit" id="original_button">Click Here</button></td>
                            </form>
                        <%}else{%>
                            <form action="/selected_air_bill" method="POST">
                                <input type="hidden" name="bill_id" value="<%= bill.bill_id %>">
                                <td><button type="submit" id="original_button">Click Here</button></td>
                            </form>
                        <%};%>
                    <%};%>
                </tr>
                <%});%>
            <%});%>
        </tbody>
    </table>
        <br>
        <br>
      </div>
</body>

</html>