<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
 
  </head>
  <body>
    <%-include("partials/header.ejs")%>
    <h1 style="text-align: center">Adding Hotel Booking</h1>
    <div class="container-sm col-6">
      <form class="row g-3" method="post" action="/addhotelbooking">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Customer Name</label>
          <input type="text" class="form-control border border-success" id="inputEmail4" name="hotel_booking_customer_name" list="NameOptions">
          <datalist id="NameOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_booking_customer_name%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Hotel Name</label>
          <input type="text" class="form-control border border-success" id="inputEmail4" name="hotel_name" list="HotelOptions">
          <datalist id="HotelOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_name%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Hotel Location</label>
          <input type="text" class="form-control border border-success" id="inputAddress" name="hotel_location" list="LocationOptions">
          <datalist id="LocationOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_location%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label">Hotel Nights</label>
          <input type="number" class="form-control border border-success" id="inputAddress2" name="hotel_nights" list="NightOptions">
          <datalist id="NightOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_nights%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Hotel Check In Date(DD/MM/YYYY)</label>
          <input type="text" class="form-control border border-success" id="inputCity" name="hotel_check_in_date" list="CheckInOptions">
          <datalist id="CheckInOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_check_in_date%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Hotel Check out Date(DD/MM/YYYY)</label>
          <input type="text" class="form-control border border-success" id="inputCity" name="hotel_check_out_date" list="CheckOutOptions">
          <datalist id="CheckOutOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_check_out_date%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Quantity</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="hotel_quantity" list="QuantityOptions">
          <datalist id="QuantityOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_quantity%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Rate per Qty</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="hotel_rate" list="RateOptions">
          <datalist id="RateOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_rate%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">SAC Code</label>
          <input type="text" class="form-control border border-black" id="inputCity" value="00440032" name="hotel_sac_code" list="CodeOptions">
          <datalist id="CodeOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_sac_code%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Biller Id</label>
          <input type="text" class="form-control border border-success" id="inputCity" name="hotel_booking_biller_id" list="BillerOptions">
          <datalist id="BillerOptions">
            <%previous_bookings.forEach((booking)=>{%>
              <option value="<%=booking.hotel_booking_biller_id%>">
            <%});%>
          </datalist>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">ADD</button>
        </div>
      </form>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Biller Id</th>
            <th scope="col">Biller Name</th>
          </tr>
        </thead>
        <tbody>
            <% customer.forEach((customer)=>{%>
                <tr>
                    <th scope="row"><%=customer.customer_id%></th>
                    <td><%=customer.customer_name%></td>
                </tr>
            <%});%>
        </tbody>
      </table>
      <br>
      <% if (locals.name){ %>
      <h1>Hotel Booking Added Successfully</h1>
      <h3>The previous records inserted are</h3>
      <ul>
        <li><h5>Customer Name: <%=locals.name%></h5></li>
        <li><h5>Hotel Name: <%=locals.hotel_name%></h5></li>
        <li><h5>Hotel Location: <%=locals.hotel_location%></h5></li>
        <li><h5>Hotel Nights: <%=locals.hotel_nights%></h5></li>
        <li><h5>Hotel Check In Date: <%=locals.hotel_check_in_date%></h5></li>
        <li><h5>Hotel Check out Date: <%=locals.hotel_check_out_date%></h5></li>
        <li><h5>Quantity: <%=locals.quantity%></h5></li>
        <li><h5>Rate per Qty: <%=locals.rate%></h5></li>
        <li><h5>SAC Code: <%=locals.sac_code%></h5></li>
      </ul>
      
      <% }%>
    </div>

  </body>
  
</html>
