<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreBill</title>
 

</head>
<body>
    <%-include("partials/header.ejs")%>
    <div class="container">

        <h1>Bill Number: <%=locals.bill_id%></h1>
        <h1>Biller Name: <%=locals.customer_name%></h1>
    </div>
    <br>
    <br>
    <div class="container">
        <form class="tab-view tab-view-height-auto" action="/bill_air" method="post">
            <h3>Air Tickets</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Checkbox</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Flight Number</th>
                        <th scope="col">Flight Date</th>
                        <th scope="col">Flight Time</th>
                        <th scope="col">Flight PNR</th>
                        <th scope="col">Flight Travel Location</th>
                        <th scope="col">Flight Quantity</th>
                        <th scope="col">Flight Rate</th>
                        <th scope="col">Flight SAC Code</th>
                    </tr>
                </thead>
                <tbody>
                    <% air_ticket.forEach(function(ticket) { %>
                        <tr>
                            <th scope="row"><input type="checkbox" id="<%=ticket.air_ticket_id%>" name="air_tickets" value="<%=ticket.air_ticket_id%>"  />
                            </th>
                            <td><%=ticket.air_ticket_customer_name%></td>
                            <td><%=ticket.flight_number%></td>
                            <td><%=ticket.flight_date%></td>
                            <td><%=ticket.flight_time%></td>
                            <td><%=ticket.flight_pnr%></td>
                            <td><%=ticket.flight_travel_location%></td>
                            <td><%=ticket.flight_quantity%></td>
                            <td><%=ticket.flight_rate%></td>
                            <td><%=ticket.flight_sac_code%></td>
                        </tr>
                    <%});%>
                </tbody>
            </table>
            <br>
            <br>
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Service Charge(amount)</label>
                <input type="text" class="form-control border border-success" id="inputEmail4" name="bill_service_charge">
            </div>
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Service Charge Quantity</label>
                <input type="text" class="form-control border border-success" id="inputEmail4" name="service_charge_quantity">
            </div>
            <div class="col-md-4">
                <label for="inputEmail4" class="form-label">SAC CODE</label>
                <input type="number" class="form-control border border-success" id="inputEmail4" value="00440032" name="sac_code_original">
            </div>
            <br>
            <input type="submit" name="add" value="Submit" id="tab">
        </form>
        <br>
        <br>

    </div> 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>