<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
 
  </head>
  <body>
    <%-include("../partials/header.ejs")%>
    <br>
    <center><h1 style="font-family: 'Playfair Display', serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: bold;">Edit Air Ticket</h1></center>
      <hr>
      <div class="container-sm col-6">
      <form class="row g-3" method="post" action="/final_edit_air_ticket">
        <input type="hidden" name="air_ticket_id" value="<%=ticket.air_ticket_id%>">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Customer Name</label>
          <input type="text" class="form-control border border-black" id="inputEmail4" name="air_ticket_customer_name" value="<%=ticket.air_ticket_customer_name%>">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Flight Number</label>
          <input type="text" class="form-control border border-black" id="inputEmail4" name="flight_number" value="<%=ticket.flight_number%>">
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Flight Date (DD/MM/YYYY)</label>
          <input type="text" class="form-control border border-black" id="inputAddress" name="flight_date" value="<%=ticket.flight_date%>">
        </div>
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label">Flight Time (HH:MM)</label>
          <input type="text" class="form-control border border-black" id="inputAddress2" name="flight_time" value="<%=ticket.flight_time%>">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Flight PNR</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="flight_pnr" value="<%=ticket.flight_pnr%>">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Flight From/To (eg: DEL/AYJ)</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="flight_travel_location" value="<%=ticket.flight_travel_location%>">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Quantity</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="flight_quantity" value="<%=ticket.flight_quantity%>">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Rate per Qty</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="flight_rate" value="<%=ticket.flight_rate%>">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">SAC Code</label>
          <input type="text" class="form-control border border-black" id="inputCity" value="00440032" name="flight_sac_code" value="<%=ticket.flight_sac_code%>">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Biller Id</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="air_ticket_biller_id" value="<%=ticket.air_ticket_biller_id%>">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </div>
      </form>
      <br>
      
      <br>
    </div>

  </body>
  
</html>
