<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreBill</title>
 

</head>
<body>
    <%-include("../partials/header.ejs")%>
    <div class="container">
        <br>
        <h4>Bill Number: <%=locals.bill_id%></h4>
        <h4>Biller Name: <%=locals.customer_name%></h4>
        <hr>
    </div>
    <div class="container">
        <form class="tab-view tab-view-height-auto" action="/bill_hotel" method="post">
            
            <br>
            <center><h1 style="font-family: 'Playfair Display', serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: bold;">Hotel Bookings</h1></center>
            <br>
            <table class="table table-striped table-primary table-bordered mx-auto" style="width: 1322px;">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Checkbox</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Hotel Name</th>
                        <th scope="col">Hotel Location</th>
                        <th scope="col">Hotel Nights</th>
                        <th scope="col">Hotel Check In Date</th>
                        <th scope="col">Hotel Check Out Date</th>
                        <th scope="col">Hotel Quantity</th>
                        <th scope="col">Hotel Rate</th>
                        <th scope="col">Hotel SAC Code</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <% hotel_booking.forEach(function(booking) { %>
                        <tr>
                            <th scope="row"><input type="checkbox" id="<%=booking.hotel_booking_id%>" name="selected_bookings" value="<%=booking.hotel_booking_id%>" />
                            </th>
                            <td><%=booking.hotel_booking_customer_name%></td>
                            <td><%=booking.hotel_name%></td>
                            <td><%=booking.hotel_location%></td>
                            <td><%=booking.hotel_nights%></td>
                            <td><%=booking.hotel_check_in_date%></td>
                            <td><%=booking.hotel_check_out_date%></td>
                            <td><%=booking.hotel_quantity%></td>
                            <td><%=booking.hotel_rate%></td>
                            <td><%=booking.hotel_sac_code%></td>
                        </tr>
                    <%});%>
                </tbody>
            </table>
            <input type="hidden" value="<%=locals.bill_id%>" name="bill_id">
            <input type="hidden" value="<%=locals.biller_id%>" name="biller_id">
            <br>
            <div class="row">

                <div class="col-md-2">
                    <label for="inputEmail4" class="form-label">Service Charge(amount)</label>
                    <input type="text" class="form-control border border-success" id="inputEmail4" name="service_charge_rate">
                </div>
                <div class="col-md-2">
                    <label for="inputEmail4" class="form-label">Service Charge Quantity</label>
                    <input type="text" class="form-control border border-success" id="inputEmail4" name="service_charge_quantity">
                </div>
                <div class="col-md-2">
                    <label for="inputEmail4" class="form-label">SAC CODE</label>
                    <input type="number" class="form-control border border-success" id="inputEmail4" value="00440063" name="sac_code_original">
                </div>
            </div>
            <br>
            <input type="submit" name="add" value="Submit" id="tab" class="btn btn-sm btn-primary">
        </form>
        <br>
        <br>

    </div> 
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>