<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Customer</title>
 
  </head>
  <body>
    <%-include("../partials/header.ejs")%>
    <br>

    <center><h1 style="font-family: 'Playfair Display', serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: bold;">Add Customer</h1></center>
      <hr>
      <div class="container-sm col-6">
      <form class="row g-3" method="post" action="/customer_added">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Customer Name</label>
          <input type="text" class="form-control border border-black" id="inputEmail4" name="customer_name">
        </div>
        <div class="col-md-6">
          <label for="inputAddress2" class="form-label">GSTIN</label>
          <input type="text" class="form-control border border-black" id="inputAddress2" name="customer_gstin">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Customer Address</label>
          <input type="text" class="form-control border border-black" id="inputAddress" name="customer_address">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Customer State</label>
          <input type="text" class="form-control border border-black" id="inputCity" name="customer_state">
        </div>
        <div class="col-md-6">
          <label for="inputState" class="form-label">Customer State Code</label>
          <input type="number" class="form-control border border-black" id="inputCity" name="customer_code">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">ADD</button>
        </div>
      </form>
      <br>
      <br>
      <% if (locals.name){%>
        <div class="border border-primary border-3 ">
          <div class="mx-auto mb-2" style="width: 600px;">
            <h1>Customer Added Successfully</h1>
          </div>
          <h3>The previous records inserted are</h3>
          <ul>
            <li><h5>Customer Name: <%=locals.name%></h5></li>
            <li><h5>Customer Address: <%=locals.address%></h5></li>
            <li><h5>Customer State: <%=locals.state%></h5></li>
            <li><h5>Customer State Code: <%=locals.code%></h5></li>
            <li><h5>Customer GSTIN: <%=locals.gstin%></h5></li>
          </ul>
        </div>
      <% }%>
      <% if (locals.error){%>
        <h1>Failed To Add Customer</h1>
      <%}%>

    </div>

  </body>
  
</html>
